{% extends "base.html.twig" %}

{% block title %}CPU{% endblock %}

{% block body %}


<h1>Processeurs:</h1>
{% for vf in cpu %}            
    <li><strong> Produit {{ vf.designation }} Fabriqué par {{ vf.brand }} : </strong></li>
    <li> - Prix d'achat : {{vf.buyingPrice}} Euros / Prix de vente : {{vf.sellingPrice}} Euros</li>
    <li>- Quantité disponible : {{vf.quantity}}</li>
     <li>{{ dump(vf) }}</li>
{% endfor %}


{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}