
{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="/"><img src="{{ asset('asset/images/logo.png') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
             <div id="menu">
    
        <div class="row justify-content-center">
            <div class="collapse navbar-collapse col" id="navbarSupportedContent" >
               
                 {{ form_start(form, { 'attr': {'action': path('results')} }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                             <a class="dropdown-item" href="/">Votre compte</a>
                             {% else %}
                             <a class="dropdown-item" href="/login" id="connexion">Connexion</a>
                             <a class="dropdown-item" href="/register">Créer un compte</a>
                             {%endif%}
                            
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon panier
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse col" id="navbarCategories">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONFIGURATOR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cpu') }}">Processeur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('motherboard') }}">Carte mère</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('memory') }}">Mémoire</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block stylesheets %}
    <style>

    </style>
{% endblock %}