{% extends "base.html.twig" %}

{% block title %}Cartes Mères{% endblock %}

{% block body %}

<div class="container">
	<div id="SearchPage" class="row">
	<div id="Filtre" class="col-2">
	<p>LA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeee
	LA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeeeLA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeeeLA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeeeLA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeee</p>
</div>
	<div id="recherche" class="col-8">
<h1>Cartes Mères:</h1>
{% for vf in motherboard %}            
    <li><strong> Produit {{ vf.designation }} Fabriqué par {{ vf.brand }} : </strong></li>
    <li> - Prix d'achat : {{vf.buyingPrice}} Euros / Prix de vente : {{vf.sellingPrice}} Euros</li>
    <li>- Quantité disponible : {{vf.quantity}}</li>
     {% endfor %}
 </div>
</div>
</div>



{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}