{% extends "base.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block body %}

<section id="search">
	<div id="SearchPage">
<div id="Filtre">
	<p>testou
	testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou

testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou
testoutestoutestou


testoutestoutestoutestou</p>
</div>
<div id="recherche">

{% for vf in product %}     
<div id="SearchPicture"> </div>       
   <div id="SearchProductName"> <strong> Produit {{ vf.designation }} Fabriqué par {{ vf.brand }} : </strong> </div>
    <div id="SearchBuyingPrice"> - Prix d'achat : {{vf.buyingPrice}} Euros / Prix de vente : {{vf.sellingPrice}} Euros </div>
    <div id ="SearchQuantity"> Quantité disponible : {{vf.quantity}} </div>
{% endfor %}
</div>
</div>
</section>

{% endblock %}