{% extends "base.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block body %}
<section id="search">
	<div class="container">
	<div id="SearchPage" class="row">
<div id="Filtre" class="col-2">
	<p>LA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeee
	LA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeeeLA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeeeLA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeeeLA BARRRRRRRRRRRRRRE DE FILTRE
		barre de filtre
		filtrou barr
		filtrefiltrefiltre
		a turtle made it to the water
		bar de flitre 
		barrrre de filtreeeeeee</p>
</div>
<div id="recherche" class="col-8">

{% for vf in product %}     
<div id="SearchPicture"> </div>       
   <div id="SearchProductName"> <strong> Produit {{ vf.designation }} Fabriqué par {{ vf.brand }} : </strong> </div>
    <div id="SearchBuyingPrice"> - Prix d'achat : {{vf.buyingPrice}} Euros / Prix de vente : {{vf.sellingPrice}} Euros </div>
    <div id ="SearchQuantity"> Quantité disponible : {{vf.quantity}} </div>
{% endfor %}
</div>
</div>
</div>
</section>

{% endblock %}